* {
  box-sizing: border-box;
}

body, .player {
  margin: auto;
}

h1 {
  text-align: center;
}

.player {
 padding-left: 3px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: dashed 1px green;
  width: 120px;
  height: 120px;
  margin: 3px;
  cursor: url('/src/img/molot.cur') 30 30, pointer;
}

.clicked {
  cursor: url('/src/img/molot_smash.cur') 40 15, pointer;
}

.active {
  background-image: url('/src/img/goblin.png');
}
